.eslintrc.js
node_modules/**/*.js
react-app-env.d.ts
reportWebVitals.ts
setupTests.ts
workspace.code-workspace
.gitignore
.prettierignore
.prettierrc.extension.json
.eslintcache
settings.json
build/
tests/
# src/
#  *.js
#  *.jsx
#  *.tsx
